.overlay-text {
  position: absolute;
  font-family: 'Kiwi Maru', serif;
  white-space: pre-wrap;
  color: #000000;
  font-size: 0.8em;
  line-height: 1.8;
  pointer-events: none;
}

#poem {
  bottom: 24%;
  right: 26%;
}

#failure {
  bottom: 24%;
  right: 42%;
}

#fire {
  top: 42%;
  right: 28%;
}
