.overlay-text {
  position: absolute;
  font-family: 'Noto Serif JP', serif;
  white-space: pre-wrap;
  color: #5c2f0d;
  font-size: 0.6em;
  line-height: 1.8;
  pointer-events: none;
}

#poem {
  bottom: 21%;
  right: 17%;
  width: 36%;
}

#failure {
  bottom: 21%;
  right: 50%;
}

#fire {
  top: 39%;
  right: 20%;
}
